.cart_img{
    float: left;
    width: 60px;
    height: 90px;
}
.cart_img img{
    display: block;
    width: 60px;
    height: 60px;
}
.cart_info{
    overflow: hidden;
    height: 90px;
    padding-left: 5px;
}
.cart_info .title{
    padding-bottom: 5px;
    height: 47px;
    color:#666;

}
.price{
    color:red;
}
.old{
    text-decoration: line-through;
}
.lt_size,.lt_num{
    text-align: left;
}
.lt_size span {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 3px;
    margin: 4px 0;
    border: 1px solid #ccc;
    background-color: #F5F5F5;
    font-size: 14px;
}
.lt_size span.current {
    background-color: #069;
    color: #fff;
}
.lt_total {
    position: absolute;
    bottom: 55px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    font-size: 12px;
    background-color: #EEEEEE;
    z-index: 999;
    padding-left: 10px;
}
.lt_total span {
    color: red;
}
.lt_total a {
    background-color: red;
    color: white;
    padding: 0 10px;
}

.lt_container {
    padding-bottom: 85px;
}