.category_left{
    width: 90px;
    height: 100%;
    position: relative;
    float: left;
    overflow: hidden;
}
.category_left ul li a{
    width: 90px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #E3E4E5;
    color:#000;
    display: block;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.category_right{
    overflow: hidden;
    height: 100%;
    position: relative;
}
.category_left .current1{
    background-color: #fff;
    border-right: 0;
}
.category_right li{
  width: 33.3%;
    float: left;
    padding: 5px;
}
.category_right li a{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}
.category_right li img{
    display: block;
   width: 70px;
    height: 50px;
    margin: 0 auto;
}