.lt_search{
    padding: 10px;
}
.lt_search input{
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    border: 1px solid  #007AFF;
    margin: 0;
}
.lt_history{
    padding: 10px;
}
.lt_search button{
    position: absolute;
    top: 10px;
    right: 10px;
}
.tite a{
    font-size: 10px;
    color:#666;
}
.tite a i{
    margin-right: 3px;
}
.history li:last-child{
    border-bottom: 1px dashed red;
}
.history li{
    border: 1px dashed red;
    border-bottom: 0;
    height: 30px;
    line-height: 30px;
}
.history li a{
    font-size: 10px;
}
.history li a:nth-of-type(1){
    padding: 0 10px;
}
.history li i{
    line-height: 30px;
}